*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
	color: #555;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	opacity: 0.9;
	margin: 15px;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #fff;
	border-radius: 40px;
	text-transform: uppercase;
	background-color: #05c49b;
	font-weight: 800;
	text-align: center;
}


section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 125px 100px;
}



section h3.title{
	color: #414a4f;
	text-transform: capitalize; 
	font: bold 32px 'Dancing Script', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding:20px;
	line-height: 2;
	font-style: italic;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}




header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 20px 100px;
	background-color: #05c49b;
}

header h2{
	font-family: 'Quicksand', sans-serif;
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}



@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}


.head-main{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.head-main .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #2196F3;
	z-index: -1;
}

.head-main .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}

.head-main h1{
	font: bold 60px 'Dancing Script', sans-serif;
	margin-bottom: 15px;
}

.head-main h3{
	font: normal 28px 'Dancing Script', sans-serif;
	margin-bottom: 40px;
	
}

.head-main a.btn{
	padding: 20px 30px;
}

@media (max-width: 800px){

	.head-main{
		min-height: 600px;
	}

	.head-main h1{
		font-size: 48px;
	}

	.head-main h3{
		font-size: 24px;
	}

	.head-main a.btn{
		padding: 15px 40px;
	}

}


.section1 .grid li{
	padding: 20px;
	height: 350px;
	border-radius: 3px;

	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #333;
}

.section1{
	background-color: #c9e5da;
}

.section1 a.btn{
		padding: 20px 40px;
	}




.section2{
	background-color: #ffffff;
}

.section2 .grid li{
	padding: 20px;
	height: 350px;
	border-radius: 3px;

	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #333;
}

.section2 .grid li.small{
	flex-basis: 40%;
}

.section2 .grid li p{
	text-align: center;
	padding: 93px;
}

.section2 .grid li p a{
	font-size: 40px;
	color: #000000;
	font-style: italic;
	font-family: Helvetica;
}

@media (max-width: 1000px){

	.section2 .grid li.small{
		flex-basis: 100%;
	}

}


.section3{
	background-color: #c9e5da;
}

.section3 form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	max-width: 800px;
	width: 80%;
}

.section3 form .btn{
	padding: 20px 40px;
}

.section3 p{
	font-size: 26px;
	font-family: Helvetica;
}


footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #05c49b;
	padding: 20px;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}


